Package                      Version
---------------------------- ---------
absl-py                      1.2.0
altgraph                     0.17
anyio                        3.6.2
asgiref                      3.4.1
astroid                      2.4.2
astunparse                   1.6.3
beautifulsoup4               4.9.3
branca                       0.4.2
bs4                          0.0.1
cachetools                   5.2.0
certifi                      2020.12.5
chardet                      4.0.0
click                        8.0.1
colorama                     0.4.4
cssselect                    1.1.0
cycler                       0.10.0
distlib                      0.3.4
Django                       3.2.6
et-xmlfile                   1.1.0
fastapi                      0.86.0
filelock                     3.4.2
Flask                        2.0.1
flatbuffers                  22.9.24
folium                       0.12.1
future                       0.18.2
gast                         0.4.0
GetOldTweets3                0.0.11
google-auth                  2.12.0
google-auth-oauthlib         0.4.6
google-pasta                 0.2.0
grpcio                       1.49.1
h11                          0.14.0
h5py                         3.7.0
httptools                    0.5.0
idna                         2.10
importlib-metadata           4.12.0
isort                        5.6.4
itsdangerous                 2.0.1
Jinja2                       3.0.1
keras                        2.10.0
Keras-Preprocessing          1.1.2
kiwisolver                   1.3.1
lazy-object-proxy            1.4.3
libclang                     14.0.6
lxml                         4.6.3
Markdown                     3.4.1
MarkupSafe                   2.0.1
matplotlib                   3.3.3
mccabe                       0.6.1
numpy                        1.22.0
oauthlib                     3.1.1
openpyxl                     3.0.7
opt-einsum                   3.3.0
packaging                    21.3
pandas                       1.2.3
pefile                       2019.4.18
Pillow                       8.0.1
pip                          22.3.1
platformdirs                 2.4.1
protobuf                     3.19.6
pyasn1                       0.4.8
pyasn1-modules               0.2.8
pydantic                     1.10.2
pyinstaller                  4.3
pyinstaller-hooks-contrib    2021.1
pylint                       2.6.0
pyparsing                    2.4.7
pyquery                      1.4.3
python-dateutil              2.8.1
python-dotenv                0.21.0
python-twitter               3.5
pytz                         2021.1
pywin32-ctypes               0.2.0
PyYAML                       6.0
requests                     2.25.1
requests-oauthlib            1.3.0
rsa                          4.9
scipy                        1.6.2
selenium                     3.141.0
setuptools                   56.0.0
six                          1.15.0
sniffio                      1.3.0
soupsieve                    2.2
sqlparse                     0.4.1
starlette                    0.20.4
tensorboard                  2.10.1
tensorboard-data-server      0.6.1
tensorboard-plugin-wit       1.8.1
tensorflow-estimator         2.10.0
tensorflow-gpu               2.10.0
tensorflow-io-gcs-filesystem 0.27.0
termcolor                    2.0.1
toml                         0.10.2
twitter                      1.19.3
typing_extensions            4.3.0
urllib3                      1.26.2
uvicorn                      0.19.0
virtualenv                   20.13.0
watchfiles                   0.18.1
websockets                   10.4
Werkzeug                     2.0.1
wheel                        0.37.1
wrapt                        1.12.1
xlrd                         2.0.1
zipp                         3.8.1
